@charset "utf-8";
/* CSS Document */
/*Styles for screen 600px and lower*/
@media screen and (max-width:758px){
 #nav li {
	float:none;
	clear:both; 
	margin:0; 
	padding:0; 
	position:relative;
	display:block;	
	width:100%;
	text-align:left;
	
	
}
.search-box2{
float: none;
width:100%;}

input[type=text]{
	float: none;
width:100%;
}
.tbody{
float: none;
width:50%;	
	}
.tab-content .input-container{	float: none;
width:70%;}


.search-button2{
float: none;
}


.search-box2 img{
float:none;
position:absolute;
margin: -1.9em 0 0 8.4em;
		cursor: pointer;
		-webkit-transition: 0.5s linear;
		-moz-transition: 0.5s linear;
		-ms-transition: 0.5s linear;
		-o-transition: 0.5s linear;
		transition: 0.5s linear;
}
.topStrip{
		float: none;
width:100%;
		}


#header{
	float: none;
width:108%;
	position:relative;
	}
	

		.innerContent{
			float: none;
width:100%;
			}
		.box{
		float: left;
		
width:100%;
height:100%;}
	}
	.buttons{float: none;
width:100%;
			}
			
	
		.otherLinks,.copyright{
		float: none;
width:100%;
		}	

}

@media screen and (max-width:1200px){
.topStrip{
		float: none;
width:100%;
		}	
#header{
	float: none;
width:108%;
	position:relative;
	}
	
	.innerContent{
			float: none;
width:100%;
			}
	.otherLinks,.copyright{
		float: none;
width:100%;
		}	
	.box{
		float: left;
		
		color:#000;
width:100%;
height:100%;}
	}
.buttons{float: none;
width:100%;
			}








