 @charset "utf-8"; 
@font-face { font-family:'verdana'; src:url('fonts/verdana.ttf'); src:url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans-regular-webfont.woff2') format('woff2'), url('fonts/opensans-regular-webfont.woff') format('woff'), url('fonts/opensans-regular-webfont.ttf') format('truetype'), url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg'); font-weight:400; font-style:normal; }
@font-face { font-family:'opensans'; src:url('fonts/opensans-semibold-webfont.eot'); src:url('fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans-semibold-webfont.woff2') format('woff2'), url('fonts/opensans-semibold-webfont.woff') format('woff'), url('fonts/opensans-semibold-webfont.ttf') format('truetype'), url('fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg'); font-weight:600; font-style:normal; }
/********* Reset CSS *********/
*, *:before, *:after { -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { border:0; font-size:100%; font-style:inherit; font-weight:inherit; margin:0; outline:0; padding:0; vertical-align:baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display:block }
audio, canvas, video { display:inline-block }
audio:not([controls]) { display:none; height:0 }
html { -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }
a { text-decoration:underline; color:#003366; }
a:focus { outline:thin dotted }
a:hover, a:active { outline:0; }
a:hover { text-decoration:none; color:#393939; }
body{
background-color:#FFF;
box-width:456px;
height:100%	
}
a:visited { color:#00F }
h1, h2, h3, h4, h5, h6 { font-weight:normal; }
b, strong, dt, th { font-weight:600; }
em, i { font-style:italic; }
p, h1, h2, h3, h4, h5, h6, ul, ol, dd, table, fieldset, address { margin:0; padding:0; font-family:Verdana; }
img { -ms-interpolation-mode:bicubic; border:0; vertical-align:middle; max-width:100%; height:auto; }
figure { margin:0; }
legend { white-space:normal; }
q { quotes:"\201C" "\201D" "\2018" "\2019" }
small { font-size:80% }
sub, sup { font-size:75%; line-height:0; position:relative; vertical-align:baseline }
sup { top:-0.5em }
sub { bottom:-0.25em }
table { border-collapse:separate; border-spacing:0; width:100%; empty-cells:show; border:none; }
table table { margin:0 }
th, td { border:none; padding:8px 10px }
caption, th, td { font-weight:normal; }
.upCase { text-transform:uppercase; }
.lowCase { text-transform:uppercase; }
/********* Form fields *********/
button, input, select, textarea { margin:0; vertical-align:baseline; background-color:transparent; border:none; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor:pointer; }
input[type="text"], input[type="email"], input[type="tel"], input[type="number"], input[type="url"], input[type="password"], input[type="search"], select, textarea { border:1px solid #e5e5e5; width:100px; height:30px; padding:0; font-size:100%; line-height:normal; }
input[type="checkbox"], input[type="radio"] { box-sizing:border-box; padding:0; margin:0 5px 0 0; }
input[type="checkbox"] { -webkit-appearance:checkbox; }
input[type="radio"] { -webkit-appearance:radio }
input[type="submit"], input[type="button"], input[type="reset"], button, .button { line-height:20px; padding:4px 10px; display:inline-block; text-decoration:none; border:0 none; margin:0; outline:0 none; font-size:100%; -webkit-appearance:none; }
textarea { overflow:auto; vertical-align:top; resize:vertical; height:100px; max-width:100%; min-width:100%; max-height:500px; min-height:90px; }
fieldset { border:0 none; margin:0; padding:0 }
label { display:inline-block; padding-bottom:5px; font-weight:normal; }
/********* Clear floats *********/ 
.cf:before, .cf:after, .container:before, .container:after, .row:before, .row:after, ul:before, ul:after, .boxs:before, .boxs:after, .radioList:after, .radioList:before, .logoBlock:after, .logoBlock:before, .indexBanner:after, .indexBanner:before, .ecitizenBox:after, .ecitizenBox:before, .patentBanners a:after, .patentBanners a:before { content:" "; display:table }
.cf:after, .container:after, .row:after, ul:after, .boxs:after, .radioList:after, .logoBlock:after, .indexBanner:after, .ecitizenBox:after, .patentBanners a:after { clear:both }
/********* Common Classes *********/ 
hr { display:block; height:1px; border:0; border-top:1px solid #eaeaea; margin:15px 0; padding:0 }
body, button, input, select, textarea { color:#393939; font:91.3%/1.5 'opensans', Arial, Helvetica, sans-serif; font-weight:500 }
body { background:#E1E1E1 url(../../images/bg.jpg) repeat-x 0 0 }
body.noJS { background-position:0 30px; }
h1 { font-size:inherit; }
h2 { font-size:2.143em; color:#4c4c4c; font-weight:600; }
h3 { font-size:1.714em; color:#003366; font-weight:600; }
h4 { font-size:1.385em; color:#999; font-weight:600; }
h5 { font-size:0.6em; }
p{color:#dc143c; font-size:.9em; font-weight:600}
h6 { font-size:1.231em; color:#727272; }
ul { padding:0 0 0 15px; }
ol { padding:0 0 0 20px }
ul ul, ol ol { margin:10px 0; }
ul.bulletText { list-style:none; padding:0; }
ul.bulletText li { background:url(../../images/right-arrow.png) no-repeat left 7px; padding:2px 0 10px 13px; list-style:none; }
ul.bulletText ul { padding-left:10px; }
p, h5, h6, ul, ol, dd, table, fieldset, address { margin:0 0 20px; }
h2, h3, h4 { margin:0 0 5px; }
input[type="text"], input[type="email"], input[type="tel"], input[type="number"], input[type="url"], input[type="password"], input[type="search"], select, textarea { border:1px solid #dddddd; width:100%; height:30px; padding:5px 10px; margin-top:0px;}
input[type="submit"], input[type="button"], input[type="reset"], button, .button { background-color:#003366; color:#fff; border:2px solid #b0b0c8; border-radius:5px; transition:200ms all; -webkit-transition:200ms all; -moz-transition:200ms all; -ms-transition:200ms all; -o-transition: 200ms all; font-weight:400; font-size:1.143em; padding-top:6px; }
input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, button:hover, .button:hover { color:#fff; background-color:#444; border-color:#666 }
input[type="submit"].cancelBtn, input[type="button"].cancelBtn, input[type="reset"].cancelBtn { background-color:#888; }
.radioList input { float:left; margin:3px;  }
.radioList label, .radioList .label {float:left; color:#555; margin-right:10px;}
.alignLeft { float:left }
.alignRight { float:right; }
.displayNone, .hasJS noscript, .hideThis { display:none!important; visibility:hidden }
.jsRequired { display:block; background-color:#C00; color:#fff; width:100%; line-height:30px; text-align:center; font-size:12px; border:0 none; }
.mrgAuto { margin-right:auto; margin-left:auto; }
.mrgT20 { margin-top:20px; }
.mrgL20 { margin-left:20px; }
.mrgR20 { margin-right:20px; }
.mrgB20 { margin-bottom:20px; }
.mrgT10 { margin-top:10px; }
.mrgL10 { margin-left:10px; }
.mrgR10 { margin-right:10px; }
.mrgB10 { margin-bottom:10px; }
.padL20 { padding-left:20px; }
.padR20 { padding-right:20px; }
.padB20 { padding-bottom:20px; }
.padT20 { padding-top:20px; }
.padL15 { padding-left:15px; }
.padR15 { padding-right:15px; }
.padB15 { padding-bottom:15px; }
.padT15 { padding-top:15px; }
.padL10 { padding-left:10px; }
.padR10 { padding-right:10px; }
.padB10 { padding-bottom:10px; }
.padT10 { padding-top:10px; }
.padTB10 { padding-top:10px; padding-bottom:10px; }
.padTB15 { padding-top:15px; padding-bottom:15px; }
.padTB20 { padding-top:20px; padding-bottom:20px; }
.pad10 { padding:10px; }
.pad15 { padding:15px; }
.pad20 { padding:20px; }
.pad25 { padding:25px; }
.pad30 { padding:30px; }
.noPadding { padding:0 !important }
.noMargin { margin:0 !important }
.width100p { width:100%; }
.width90p { width:90%; }
.width80p { width:80%; }
.width70p { width:70%; }
.width60p { width:60%; }
.width50p { width:50%; }
.width40p { width:40%; }
.width30p { width:30%; }
.width25p { width:25% }
.width20p { width:20%; }
.width10p { width:10%; }
.cols1, .cols2, .cols3, .cols4, .cols5, .cols6, .cols7, .cols8, .cols9, .cols10, .cols11, .cols12 { float:left; padding-left:15px; padding-right:15px; }
.cols12 { width:100% }
.cols11 { width:91.66666667% }
.cols10 { width:83.33333333% }
.cols9 { width:75% }
.cols8 { width:66.66666667% }
.cols7 { width:58.33333333% }
.cols6 { width:50% }
.cols5 { width:41.66666667% }
.cols4 { width:33.33333333% }
.cols3 { width:25% }
.cols2 { width:16.66666667% }
.cols1 { width:8.33% }
.fileSize { font-size:12px; display:inline-block; vertical-align:middle; margin-left:3px; }
.extIcon { vertical-align:middle; margin-left:3px; margin-bottom:4px }
.rsIcon { display:inline-block; margin-right:2px; height:11px; text-indent:-999px; overflow:hidden; width:11px; background:url(../../images/rupee.png) left top no-repeat; text-align:left; vertical-align:middle }
.bold { font-weight:bold; }
.italic { font-style:italic; }
.longWord, .wordBreak { word-wrap:break-word; }
.sprite { display:inline-block; vertical-align:middle; background:url(../../images/sprite.png) left top no-repeat; overflow:hidden }
img[src*="PDF_doc.gif"], img[src*="file-pdf.png"], img[src*="ext-link-icon.png"], img[src*="flashnews.gif"] { width:auto; margin-left:3px; }
.red, .error, .mandatory, .asterix { color:#900 }
span.highlight { background:#FF0 }
.wob span.highlight { color:#000 }
/********** Image Formating & Alignment **********/ 
.imgLeft { float:left; margin-right:20px; margin-bottom:20px; }
.imgRight { float:right; margin-left:20px; margin-bottom:20px; }
.imgCenter { float:none; margin-bottom:20px; margin-left:auto; margin-right:auto; display:block; }
.imgBorder { border:1px solid #ccc; padding:5px }
.rounded { -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; }
.circle { -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; }
.shadow { -webkit-box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.2); -moz-box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.2); box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.2); padding:4px; }
/********** Alignment **********/ 
.left { text-align:left !important }
.right { text-align:right !important }
.center { text-align:center !important }
.justify { text-align:justify !important }
/********** Table **********/
.tableOut { overflow-y:hidden; overflow-x:auto }
table, .tableData { border-collapse:separate; border-spacing:0; width:100%; empty-cells:show; border:none; border-top:1px solid #E9E9EA; border-left:1px solid #E9E9EA; }
.tableData ul { margin-bottom:0; }
table table, .tableData table { margin:0 }
th, td, .tableData th, .tableData td { border:none; padding:8px 10px; border-bottom:1px solid #E9E9EA; border-right:1px solid #E9E9EA; }
caption, th, td { font-weight:normal;  }
th, .tableData th { background:#f9f9f9 }
.tableScroll { overflow-y:hidden; overflow-x:auto }



/* Basic Styles */


#nav, #nav ul { list-style:none; margin:0; padding:0;  overflow: hidden; background-color: #fff; }
#nav li{float:right; margin:0; padding:0; position:relative; display:block; width:20%; text-align:center; }
#nav li a { padding:7px 10px; line-height:28px; color:#fff; font-size:16px; text-decoration:none; display:block; width:100%;}

	.nav-btn {
	text-align:left;
	margin:0; 
	padding:7px 10px; 
	font-size:16px; 
	display:block; 
	width:100%; 
	color:#fff;
	position:static;
    cursor:pointer;
	background:url(../images/mobile-menu.png) no-repeat right;
	background-color:#003366;
	
}

#nav > li > a:hover, #nav > li.hover > a, #nav > li.focus > a, #nav > .highlight > a { background-color:#dbdbdb; color:#060613 }

.menu1{ background-color:#003366 }
.menu2{ background-color:#346002}
.menu3{ background-color:#005e88}
.menu4{ background-color:#8a4500}
.menu5{ background-color:#dc143c}


div#slider figure img {
	width: 100%;
	height: auto;
	float: left;
	
}




div#slider {
	width: 100%;
	max-width: 1200px;
	overflow:hidden;
	
   
}
@keyframes slider{
	0%  { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; } 
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; } 
	
}

div#slider figure {
	position: relative;
	width: 400%;
	font-size: 0;
	left: 0;
	text-align: left;
	-webkit-animation:20s slider linear infinite; 
	-moz-transform:20s slider linear infinite;
	-ms-transform:20s slider linear infinite;
	-o-transform:20s slider linear infinite;
	animation:20s slider linear infinite;  
	
  }




 /* Main CSS Theme Start */
.container { margin:0 auto; width:100%; height:100%; max-width:1170px; }
.content { background:#e1e1e1; height:100%; max-width:1170px;}
.content .container { padding:20px; height:100%; max-width:1170px; }
/********** Top Links  **********/
.topStrip { border-bottom:1px solid #ececec; padding:10px 0; background:#003366; font-weight:600; }
.leftLinks { float:left; }
.rightLinks { float:right; }
.topStrip ul { list-style:none; padding:0; margin:0 }
.topStrip li { float:left; padding:0 7px 0 8px; position:relative; }
.topStrip a { color:#fff; text-decoration:none; }
.topStrip a:hover { text-decoration:underline; color:#fff }
.topStrip li:first-child { padding-left:0; }
.topStrip li:last-child { padding-right:0; }
.topStrip li:before { content:" "; position:absolute; left:0; top:50%; z-index:auto; height:14px; width:1px; background:#fff; overflow:hidden; margin-top:-7px; }
.topStrip li:first-child:before { display:none; }
#header { background:#fff; box-shadow:0 4px 5px 0 #b0b0b0; width:1170px; margin-left:-15px;}
.logoBlock { padding:8px 10px; }
#logo { float:left }
.ipoLogo { float:right }
#nav { width:100%; }
#footer { font-size:0.929em;position:fixed; margin-bottom:0px;}
.otherLinks .container { background:#fff; padding:15px; }
.otherLinks ul { margin:0; padding:0 }
.otherLinks li { list-style:none; text-align:center; float:left; width:25%; }
.otherLinks a { display:inline-block; text-align:center }
.otherLinks .owl-controls, .impLinks .owl-controls { display:none }
.otherLinks img { max-width:none; width:auto !important; margin:0 auto }
.copyright { background:#373534; padding:15px 0 }
.copyright ul { padding:0; margin-bottom:5px; }
.copyright .alignLeft li { float:left; list-style:none; position:relative; padding:0 7px 0 8px }
.copyright .alignLeft li:after { content:" "; position:absolute; left:0; top:50%; z-index:auto; height:14px; width:1px; background:#bfbfbf; overflow:hidden; margin-top:-5px; }
.copyright .alignLeft li:first-child { padding-left:0 }
.copyright .alignLeft li:first-child:after { content:none; }
.copyright .alignLeft li a { color:#fff; text-decoration:none; }
.copyright .alignLeft li a:hover { text-decoration:underline; color:#fff }
.copyright p { color:#fff; margin-bottom:10px; }
.copyright .w3cLogos a { margin-right:7px; display:inline-block }
.copyright .alignRight p { text-align:right; margin-bottom:5px; }
.innerContent .container { padding:20px; background:#fff; box-shadow:0 10px 10px 0 #dfdfdf }
.innerContent p { text-align:justify }
/*******div class="tab-content" Form*********/ 
 .loginForm {position: relative; max-width: 460px; width: 100%; margin:30px auto 50px; }
.loginForm.active .card:first-child { background: #f2f2f2; margin: 0 15px; }
.loginForm.active .card:nth-child(2) { background: #fafafa; margin: 0 10px; }
.loginForm.active .card.alt { top: 20px; right: 0; width: 100%; min-width: 100%; height: auto; border-radius: 5px; padding: 60px 0 40px; overflow: hidden; }
.loginForm.active .card.alt .toggle { position: absolute; top: 40px; right: -80px; box-shadow: none; -webkit-transform: scale(10); transform: scale(10); -webkit-transition: -webkit-transform .3s ease; transition: -webkit-transform .3s ease; transition: transform .3s ease; transition: transform .3s ease, -webkit-transform .3s ease; }
.loginForm.active .card.alt .toggle { background-image:none }
.loginForm.active .card.alt .title, .loginForm.active .card.alt .input-container, .loginForm.active .card.alt .button-container { left: 0; opacity: 1; visibility: visible; -webkit-transition: .3s ease; transition: .3s ease; }
.loginForm.active .card.alt .title { -webkit-transition-delay: .3s; transition-delay: .3s; }
.loginForm.active .card.alt .input-container { -webkit-transition-delay: .4s; transition-delay: .4s; }
.loginForm.active .card.alt .input-container:nth-child(2) { -webkit-transition-delay: .5s; transition-delay: .5s; }
.loginForm.active .card.alt .input-container:nth-child(3) { -webkit-transition-delay: .6s; transition-delay: .6s; }
.loginForm.active .card.alt .button-container { -webkit-transition-delay: .7s; transition-delay: .7s; }
.card { position: relative; background: #ffffff; border-radius: 5px; padding:20px 0 40px 0; box-sizing: border-box; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); -webkit-transition: .3s ease; transition: .3s ease; }
.card:first-child { background: #efefef; height: 10px; border-radius: 5px 5px 0 0; margin: 0 10px; padding: 0; }
.card .title { position: relative; z-index: 1; border-left: 5px solid #003366; margin: 0 0 20px; padding: 10px 0 10px 50px; color: #003366; font-size:26px; font-weight: 600; text-transform: uppercase; }
.card .input-container { position: relative; margin: 0 60px 30px; }
.card .input-container input { outline: none; z-index: 1; position: relative; background: none; width: 100%; height:40px; border: 0; color: #212121; font-size: 16px; font-weight: 400; }
.card .input-container input:focus ~ label { color: #9d9d9d; -webkit-transform: translate(-12%, -50%) scale(0.75); transform: translate(-12%, -50%) scale(0.75); top:-15px; }
.card .input-container input:focus ~ .bar:before, .card .input-container input:focus ~ .bar:after { width: 50%; }
.card .input-container input:valid ~ label { color: #9d9d9d; -webkit-transform: translate(-12%, -50%) scale(0.75); transform: translate(-12%, -50%) scale(0.75); }
.card .input-container label { position: absolute; top: 0; left:12px; color: #757575; font-size:16px; font-weight: 300; line-height:40px; -webkit-transition: 0.2s ease; transition: 0.2s ease; }
.card .input-container .bar { position: absolute; left: 0; bottom: 0; background: #757575; width: 100%; height: 1px; }
.card .input-container .bar:before, .card .input-container .bar:after { content: ''; position: absolute; background: #ed2553; width: 0; height: 2px; -webkit-transition: .2s ease; transition: .2s ease; }
.card .input-container .bar:before { left: 50%; }
.card .input-container .bar:after { right: 50%; }
.card .button-container { text-align:left; margin-left:60px }
.card .button-container button { outline: 0; cursor: pointer; position: relative; display: inline-block; background:0; width:100px; border: 2px solid #adadad; padding:10px 0; font-size:16px; font-weight: 600; line-height: 1; text-transform: uppercase; overflow: hidden; -webkit-transition: .3s ease; transition: .3s ease; }
.card .button-container button span { position: relative; z-index: 1; color: #adadad; -webkit-transition: .3s ease; transition: .3s ease; }
.card .button-container button:before { content: ''; position: absolute; top: 50%; left: 50%; display: block; background: #003366; width: 30px; height: 30px; border-radius: 100%; margin: -15px 0 0 -15px; opacity: 0; -webkit-transition: .3s ease; transition: .3s ease; }
.card .button-container button:hover, .card .button-container button:active, .card .button-container button:focus { border-color: #003366; }
.card .button-container button:hover span, .card .button-container button:active span, .card .button-container button:focus span { color: #003366; }
.card .button-container button:active span, .card .button-container button:focus span { color: #ffffff; }
.card .button-container button:active:before, .card .button-container button:focus:before { opacity: 1; -webkit-transform: scale(10); transform: scale(10); }
.card .footer { margin: 40px 0 0; color: #d3d3d3; font-size: 24px; font-weight: 300; text-align: center; }
.card .footer a { color: inherit; text-decoration: none; -webkit-transition: .3s ease; transition: .3s ease; }
.card .footer a:hover { color: #bababa; }
.card.alt { position: absolute; top: 40px; right: -70px; z-index: 10; width: 140px; height: 140px; background: none; border-radius: 100%; box-shadow: none; padding: 0; -webkit-transition: .3s ease;  transition: .3s ease; }
.card.alt .toggle { background:#003366 url(../images/pencil.png) no-repeat center center; width: 140px; height: 140px; border-radius: 100%; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); cursor: pointer; text-indent:-9999px }
.card.alt .title, .card.alt .input-container, .card.alt .button-container { left: 100px; opacity: 0; visibility: hidden; }
.card.alt .title { position: relative; border-color: #ffffff; color: #ffffff; }
.card.alt .title .close { cursor: pointer; position: absolute; top: 0; right: 60px; display: inline; color: #ffffff; font-size: 58px; font-weight: 400; }
.card.alt .title .close:before { content: '\00d7'; }
.card.alt .input-container input { color: #ffffff; }
.card.alt .input-container input:focus ~ label { color: #ffffff;}
.card.alt .input-container input:focus ~ .bar:before, .card.alt .input-container input:focus ~ .bar:after { background: #ffffff;}
.card.alt .input-container input:valid ~ label { color: #ffffff;}
.card.alt .input-container label { color: rgba(255, 255, 255, 0.8); }
.card.alt .input-container .bar { background: rgba(255, 255, 255, 0.8); }
.card.alt .button-container button { background: #ffffff; border-color: #ffffff; }
.card.alt .button-container button span { color: #003366; }
.card.alt .button-container button:hover { background: rgba(255, 255, 255, 0.9); }
.card.alt .button-container button:active:before, .card.alt .button-container button:focus:before { display: none; }
/* Keyframes */ @-webkit-keyframes buttonFadeInUp { 0% { bottom: 30px; opacity: 0; }}
@keyframes buttonFadeInUp { 0% { bottom: 30px; opacity: 0; }}


/******Inner Banner*****/
.innerBannerTemplate { height: 150px; position:relative;}
.innerBannerCaption{ position:absolute; max-width:740px; left:20px; top:33%;}

/*********Form**********/
.feedbackColRow { margin:0 -15px; }
.clearLeft {clear:left}
.feedbackForm .formGroup { padding-bottom:15px; }
.feedbackForm .verify, .feedbackForm .captcha { float: left; margin-right: 2%; width: 48%; }
.feedbackForm .captcha { margin-top: 23px; }
.feedbackColRow input, .feedbackColRow select, .feedbackColRow textarea { font-size:1em }
.captcha { position:relative; }
.captcha .captchaImg { border:1px solid #d7d7d7; float:left; max-height:33px; }
.captcha .refreshCaptcha { float:left; background:#d7d7d7; }




 .wrapper2 {
	display: block;
	width: 160px;
	height:120px;
	margin: -58px 170px;
	-webkit-perspective : 1200px;
	-moz-perspective : 1200px;
	-ms-perspective : 1200px;
	perspective : 1200px;
}



	
.search-button1, .search-button2 {
	display: block;
	position: absolute;
	width: 	50px;
	
	height: 20px;
	border: 1px solid #14B0DC;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#14B0DC), to(#1B4D5B));
		background-image: -webkit-linear-gradient(top, #14B0DC, #1B4D5B);
		background-image:    -moz-linear-gradient(top, #14B0DC, #1B4D5B); 
   	background-image:     -ms-linear-gradient(top, #14B0DC, #1B4D5B); 
   	background-image:      -o-linear-gradient(top, #14B0DC, #1B4D5B); 
   	background-image:         linear-gradient(to bottom, #14B0DC, #1B4D5B);
	box-shadow: inset rgba(255, 254, 255, 0.2) 0 0.3em .3em, 
					#1A4956 0 0.2em 0, 
					rgba(0, 0, 0, 0.2) 0 0.9em 3px;
	padding: 10px 10px;
	border-radius: 8px;
	cursor: pointer;
	z-index: 1;
	-webkit-transform:  translateZ(45px);
	-moz-transform:  translateZ(45px);
	-ms-transform:  translateZ(45px);
	transform:  translateZ(45px);
}

.search-button2 {
	height: 35px;
	padding:  1px 8px;
}
	
	.search-button1 span, .search-button2 span {
		display: block;
		margin: 0 auto;
		background: #003366;
		border-radius: 30px;
		width: 32px;
		height: 30px;
		box-shadow: rgba(255,255,255,.3) 10 1px 10px;
	}
	
		.search-button1 span img, .search-button2 span img {
			vertical-align: middle;
			padding-top: 8px;
			padding-left:6px;
		}

	.search-button1:hover, .search-button2:hover, .wrapper-simple input[type=submit]:hover {
		background-image: -webkit-gradient(linear, left top, left bottom, from(#188BAB), to(#1B4D5B));
		background-image: -webkit-linear-gradient(top, #188BAB, #1B4D5B);
		background-image:    -moz-linear-gradient(top, #188BAB, #1B4D5B); 
   	background-image:     -ms-linear-gradient(top, #188BAB, #1B4D5B); 
   	background-image:      -o-linear-gradient(top, #188BAB, #1B4D5B); 
   	background-image:         linear-gradient(to bottom, #188BAB, #1B4D5B);
	}

	.search-button1:active, .search-button2:active {
		margin-top: .2em;
		box-shadow: inset rgba(255, 254, 255, 0.2) 0 0.3em .3em, 
						#1A4956 0 0.3em 0, 
						rgba(0, 0, 0, 0.2) 0 0.5em 3px;	
	}
	
.search-box1, .search-box2 {
	margin-top: -.4em;
	display: none;
	position: absolute;
	width: 290px;
	
	height: 42px;
	padding: 5px 4px;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#188BAB), to(#1B4D5B));
		background-image: -webkit-linear-gradient(top, #188BAB, #1B4D5B);
		background-image:    -moz-linear-gradient(top, #188BAB, #1B4D5B); 
   	background-image:     -ms-linear-gradient(top, #188BAB, #1B4D5B); 
   	background-image:      -o-linear-gradient(top, #188BAB, #1B4D5B); 
   	background-image:         linear-gradient(to bottom, #188BAB, #1B4D5B);
	border: 1px solid #9bb6c9;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	border-radius: 5px;
	box-shadow: inset rgba(255, 254, 255, 0.2) 0 0.3em .3em, 
					#899faf 0 .5em 0px, 
					rgba(0, 0, 0, 0.2) 0 .9em 3px;


	-webkit-transform:	rotate3d(1,0,0,90deg) 
								translateZ(20px);
	-moz-transform:	rotate3d(1,0,0,90deg) 
								translateZ(20px);
	-ms-transform:	rotate3d(1,0,0,90deg) 
								translateZ(20px);
	transform:	rotate3d(1,0,0,90deg) 
								translateZ(20px);
								
}

	.search-box1 input, .search-box2 input, .wrapper-simple input[type=text] {
		font-family: Arial;
		font-weight: bold;
		color: #1a3d51;
		background: #d8e6ef;
		border-radius:2px;
		padding: 10px 10px 15px 10px;
		width: 280px;
		border: 0;
		font-size: 16px;
		text-shadow: rgba(255, 255, 255, 0.7) 1px 1px 1px;
		box-shadow: inset rgba(0,0,0,.4) 0 1px 1px;
	}
		
		.search-box1 input:focus, .search-box2 input:focus, .wrapper-simple input[type=text]:focus {
			outline: none;
		}
		
		input::-webkit-input-placeholder {
			font-family: Arial;
			font-weight: bold;
			color: #1a3d51;
			text-shadow: rgba(255, 255, 255, 0.7) 1px 1px 1px;
		}
		
		input:-moz-placeholder {
			font-family: Arial;
			font-weight: bold;
			color: #1a3d51;
			text-shadow: rgba(255, 255, 255, 0.7) 1px 1px 1px;
		}
		
	

		.search-box1 img, .search-box2 img {

		opacity: .5;
		position: absolute;
		margin: -1.9em 0 0 17em;
		cursor: pointer;
		-webkit-transition: 0.5s linear;
		-moz-transition: 0.5s linear;
		-ms-transition: 0.5s linear;
		-o-transition: 0.5s linear;
		transition: 0.5s linear;
	}
	
		.search-box1 img:hover, .search-box2 img:hover {
			opacity: 1;
		}

.hide-search-button {
	display: none;
}

.show-search-button {
	display: block;
}

.show-search-box {
	display: block;
}

.showed-search-box {
	display: block;
	-webkit-transform: rotate3d(1,0,0,0deg);
	-moz-transform: rotate3d(1,0,0,0deg);
	-ms-transform: rotate3d(1,0,0,0deg);
	transform: rotate3d(1,0,0,0deg);
}

.hidden-search-box {
	-webkit-transform:	rotate3d(1,0,0,90deg) 
								translateZ(25px);
	-moz-transform:	rotate3d(1,0,0,90deg) 
								translateZ(25px);
	-ms-transform:	rotate3d(1,0,0,90deg) 
								translateZ(25px);
	transform:	rotate3d(1,0,0,90deg) 
								translateZ(25px);
}

.switch-show {
	height: 50px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-animation: showBox 0.5s ease-in-out;
	-moz-animation: showBox 0.5s ease-in-out;
	-ms-animation: showBox 0.5s ease-in-out;
}

.switch-hide {
	height: 50px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-animation: hideBox 0.5s ease-in-out;
	-moz-animation: hideBox 0.5s ease-in-out;
	-ms-animation: hideBox 0.5s ease-in-out;
}

.switch-show {
	height: 50px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-animation: showBox 0.5s ease-in-out;
	-moz-animation: showBox 0.5s ease-in-out;
	-ms-animation: showBox 0.5s ease-in-out;
}

.switch-hide {
	height: 50px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-animation: hideBox 0.5s ease-in-out;
	-moz-animation: hideBox 0.5s ease-in-out;
	-ms-animation: hideBox 0.5s ease-in-out;
}
		
@-webkit-keyframes showBox{
	0% { -webkit-transform: rotate3d(1,0,0,0); }
	100% { -webkit-transform: rotate3d(1,0,0,-90deg); }
}
		
@-moz-keyframes showBox{
	0% { -moz-transform: rotate3d(1,0,0,0); }
	100% { -moz-transform: rotate3d(1,0,0,-90deg); }
}
		
@-ms-keyframes showBox{
	0% { -ms-transform: rotate3d(1,0,0,0); }
	100% { -ms-transform: rotate3d(1,0,0,-90deg); }
}

		
@-webkit-keyframes hideBox{
	0% { -webkit-transform: rotate3d(1,0,0,-90deg); }
	100% { -webkit-transform: rotate3d(1,0,0,0); }
}

		
@-moz-keyframes hideBox{
	0% { -moz-transform: rotate3d(1,0,0,-90deg); }
	100% { -moz-transform: rotate3d(1,0,0,0); }
}

		
@-ms-keyframes hideBox{
	0% { -ms-transform: rotate3d(1,0,0,-90deg); }
	100% { -ms-transform: rotate3d(1,0,0,0); }
}



/*!
 * SlickNav Responsive Mobile Menu v1.0.3
 * (c) 2015 Josh Cope
 * licensed under MIT
 */
.slicknav_btn {
  cursor: pointer;
  display: block;
  float: right;
  height: 35px;
  line-height: 50px;
  padding: 10px 0 9px;
  position: relative;
  vertical-align: middle;
  width: 44px;
}
  .slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
    margin-top: 0.188em; }
	
 
.tab-content .input-container{  
  width: 250px;
  margin-top:10px;

}  
.tab-content .input-form{  
  width: 450px;
  margin-top:-592px;
  margin-right:430px;
padding-bottom:-10px;
float:right;


 direction:ltr;
}
 	.tab-content .containing{
				float:right;
				width: 150px;
				}

#form1 {
	

	 font-size:12px;
	}
	
	.boolean{
		float:right;
		 width: 250px;
		 margin-top:-600px;
		 margin-right:180px;
  
		}
		.buttons{
	margin:10px;
			}
			input[type="checkbox"]{
  width: 15px; /*Desired width*/
  height: 15px; /*Desired height*/
}

input[type="radio"]{
  width: 15px; /*Desired width*/
  height: 15px; /*Desired height*/
}
#menu1,#menu2{

	font-family:Verdana, Geneva, sans-serif,Bold;
	font:15px bold;
	width:650px;
	alignment-adjust:middle;
	
	}
	input[placeholder]{
		font-size:12px;
	font-family:Verdana, Geneva, sans-serif;

		
		}
		#value,#values{
			display:none;
			}
		.tab-content .input-forms{ 
		width: 180px;
		margin-top:-480px;
  margin-right:510px;
		float:right;
		
		}
		.booleans{
			float:right;
				 width: 160px;
		margin-top:-480px;
		 margin-right:330px;
			}
			.containing{
				width:160px;
				margin-top:-480px;
  margin-right:710px;
		float:right;
				
				}
				/* Popup*/
				
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.popupContainer{
	position:relative;
	width:380px;
	height:600px;
	left:45%;
	margin-top:-180px;
	background:#FFD5D5;
}

#modal_trigger {margin:100px auto; width:100px; display:block;}

.btn {padding:10px 20px; background: #F4F4F2;}
.btn_red {background: #ED6347; color: #FFF;}

.btn:hover {background: #E4E4E2;  }
.btn_red:hover {background: #C12B05; color: #FFF;}

a.btn {color:#666; text-align: center; text-decoration: none;  }
a.btn_red {color: #FFF;}

.one_half {width:50%; display: block; float:left;}
.one_half.last {width:45%; margin-left:5%;}

/* Popup Styles*/
.popupHeader {font-size:16px; text-transform: uppercase;}
.popupHeader {background:#F4F4F2; position:relative; padding:10px 20px; border-bottom:1px solid #DDD; font-weight:bold;}
.popupHeader .modal_close {position: absolute; right: 0; top:0; padding:10px 15px; background:#E4E4E2; cursor: pointer; color:#aaa; font-size:16px;}

.popupBody {padding:20px;}


/* Social Login Form */
.social_login {}
.social_login .social_box {display:block; clear:both; padding:10px; margin-bottom: 10px; background: #F4F4F2; overflow: hidden;}
.social_login .icon {display:block; width:10px; padding:5px 10px; margin-right: 10px; float:left; color:#FFF; font-size:16px; text-align: center;} 
.social_login .fb .icon {background:#3B5998;}
.social_login .google .icon {background:#DD4B39;}
.social_login .icon_title {display:block; padding:5px 0; float:left; font-weight: bold; font-size: 16px; color:#777;}
.social_login .social_box:hover {background: #E4E4E2;}

.centeredText {text-align: center; margin: 20px 0; clear: both; overflow: hidden; text-transform: uppercase;}

.action_btns {clear:both; overflow: hidden;}
.action_btns a {display: block;}

/* User Login Form */
.user_login {display: none;}
.user_login label {display: block; margin-bottom:5px;}
.user_login input[type="text"], .user_login input[type="email"], .user_login input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_login input[type="checkbox"] {float:left; margin-right:5px;}
.user_login input[type="checkbox"]+label {float:left;}

.user_login .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}
.forgot_password {display:block; margin: 20px 0 10px; clear: both; overflow: hidden; text-decoration: none; color:#ED6347;}

/* User Register Form */
.user_register {display: none;}
.user_register label {display: block; margin-bottom:5px;}
.user_register input[type="text"], .user_register input[type="email"], .user_register input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_register input[type="checkbox"] {float:left; margin-right:5px;}
.user_register input[type="checkbox"]+label {float:left;}

.user_register .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}

.table-striped th {
    background: #337ab7 none repeat scroll 0 0;
    color: #fff;
    font-weight: bold;
}
.searchlist_grid em{color:red}
@media screen and (max-width:768px){
.ipoLogo{
		display:none;
		}
	
	}